.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 8px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.searchButton {
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  background-color: #c47f00;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.searchButton:hover {
  background-color: #ffba3b;
  color: white;
}
